.speech {

    color: black;

    font-size: medium;

    font-family: serif;

}

.direction {

    color: black;

    font-size: large;

    font-family: 'Times New Roman', Times, serif;

    font-style: bold;

    background-color: rgb(229, 235, 237);

}

.MrsStockmann {
    color: rgb(162, 144, 11);
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: large;
}

.DrStockmann {
    color: rgb(0, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    font-size: large;
}

.Petra {
    color: rgb(11, 19, 162);
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: large;
}

.Hovstad {
    color: rgb(162, 11, 11);
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: large;
}

.Billing {
    color: rgb(162, 11, 152);
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: large;
}
.table {
    color: rgb(69, 65, 65);
    padding: 25px 35px;
    margin-left: 45%;
    margin-right: 40%;
    margin-bottom: 40%;
    background-color: rgb(235, 236, 239);
    border-style: solid;
    border-width: 0.7mm;
    border-radius: 1.2mm;
    text-align: center;
}
.direction:hover {

    background-color: rgb(101, 42, 165);

    color: rgb(121, 149, 22);
}
h4 {
    font-family: Calibri;
    font-style: bold;
}

h5:hover {
    text-shadow:
        1px 1px 2px rgb(17, 236, 21),
        0 0 1em rgb(218, 226, 209),
        0 0 0.5em rgb(16, 16, 17);
    color: white;
    font: serif;
    border: 4%;
    font-size: large;

}